In [266]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, LabelEncoder 
from sklearn.model_selection import learning_curve
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import learning_curve
import joblib

In [267]:
def FirstPrep(df):
    df=df[0].str.split('\n').apply(pd.Series)
    df.drop([0, 2,3,4,5,6,7,8,10,12,14,16,18,20,22,24,26,28,30,32,34,35,36,37,38,39,40], inplace=True, axis=1)
    df.columns=["Fiyat", "Marka", "Seri", "Model", "Yıl", "Kilometre", "VitesTipi", "YakıtTipi", "KasaTipi", "MotorHacmi", "MotorGücü", "Çekiş", "OrtYakıtTüketimi", "YakıtDeposu"]
    #print(df)
    return df

In [268]:
a=pd.read_csv("FiatTofasRenaultAudi.csv", header=None)
b=pd.read_csv("BmwToyotaFord.csv", header=None)
c=pd.read_csv("GeriKalanlar.csv", header=None)
d=pd.read_csv("Audi.csv", header=None)

a=FirstPrep(a)
a=a[a['Marka'] != 'Audi']
a.reset_index(drop=True, inplace=True)
b=FirstPrep(b)
c=FirstPrep(c)
d=FirstPrep(d)
df=pd.concat([a,b,c,d], ignore_index=True)
df_yedek=df
df.drop(["OrtYakıtTüketimi","YakıtDeposu"], axis=1, inplace=True)
print(a.shape, b.shape, c.shape, d.shape,df.shape)

(1444, 14) (1437, 14) (7855, 14) (479, 14) (11215, 12)

In [269]:
df["Marka"].unique()

array(['Fiat', 'Marka', 'Tofaş', 'Renault', 'BMW', 'Toyota', 'Ford',
       'Opel', 'Peugeot', 'Mercedes - Benz', 'Honda', 'Hyundai',
       'Chrysler', 'Volkswagen', 'Alfa Romeo', 'Skoda', 'Citroen', nan,
       'Seat', 'Nissan', 'Volvo', 'Chery', 'Dacia', 'Kia', 'Lancia',
       'MINI', 'Chevrolet', 'Porsche', 'Mitsubishi', 'Aston Martin',
       'Suzuki', 'Lada', 'Subaru', 'Mazda', 'Geely', 'Daewoo', 'Saab',
       'Daihatsu', 'Rover', 'Audi'], dtype=object)

In [270]:
df=df[(df['Marka'] != 'Marka') & (df['Marka']!= 'nan')]
df.reset_index(drop=True, inplace=True)
df

,Fiyat,Marka,Seri,Model,Yıl,Kilometre,VitesTipi,YakıtTipi,KasaTipi,MotorHacmi,MotorGücü,Çekiş
0,546.000 TL,Fiat,Linea,1.4 Fire Pop,2014,117.000 km,Düz,LPG & Benzin,Sedan,1368 cc,77 hp,Önden Çekiş
1,685.000 TL,Fiat,Egea,1.4 Fire Urban Plus,2018,144.000 km,Düz,Benzin,Hatchback/5,1368 cc,95 hp,Önden Çekiş
2,635.000 TL,Fiat,Egea,1.4 Fire Urban,2016,110.000 km,Düz,LPG & Benzin,Sedan,1368 cc,95 hp,Önden Çekiş
3,555.000 TL,Fiat,Egea,1.3 Multijet Easy,2017,87.000 km,Düz,Dizel,Sedan,1248 cc,95 hp,Önden Çekiş
4,710.000 TL,Fiat,Egea,1.4 Fire Urban Plus,2020,30.800 km,Düz,Benzin,Sedan,1368 cc,95 hp,Önden Çekiş
...,...,...,...,...,...,...,...,...,...,...,...,...
10928,370.000 TL,Audi,A4,A4 Sedan 1.8 T Quattro,1997,286.000 km,Düz,LPG & Benzin,Sedan,1781 cc,150 hp,4WD (Sürekli)
10929,449.900 TL,Audi,A4,A4 Sedan 1.9 TDI,2005,547.000 km,Otomatik,Dizel,Sedan,1896 cc,130 hp,Önden Çekiş
10930,1.250.000 TL,Audi,A3,A3 Sedan 1.6 TDI Dynamic,2017,13.850 km,Yarı Otomatik,Dizel,Sedan,1598 cc,116 hp,Önden Çekiş
10931,1.759.000 TL,Audi,A4,A4 Sedan 1.4 TFSI,2017,86.996 km,Yarı Otomatik,Benzin,Sedan,1395 cc,150 hp,Önden Çekiş
10932,1.580.000 TL,Audi,A6,A6 Sedan 2.0 TDI,2013,260.000 km,Otomatik,Dizel,Sedan,1968 cc,177 hp,Önden Çekiş

In [271]:
#İlk sütun için
import numpy as np
array = df["Fiyat"].values
def convert_to_float(value):
    try:
        return int(value.replace(' TL', '').replace('.', ''))
    except:
        return None

converted_array = [convert_to_float(item) for item in array]

df["Fiyat"]=converted_array

C:\Windows\Temp\ipykernel_4616\4209913755.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Fiyat"]=converted_array

In [272]:
df["Fiyat"].isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10933 entries, 0 to 10932
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fiyat       10933 non-null  int64
 1   Marka       10930 non-null  object
 2   Seri        10930 non-null  object
 3   Model       10930 non-null  object
 4   Yıl         10930 non-null  object
 5   Kilometre   10930 non-null  object
 6   VitesTipi   10930 non-null  object
 7   YakıtTipi   10930 non-null  object
 8   KasaTipi    10930 non-null  object
 9   MotorHacmi  10930 non-null  object
 10  MotorGücü   10929 non-null  object
 11  Çekiş       10840 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.0+ MB

In [273]:
df = df[df["Marka"].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10930 entries, 0 to 10932
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fiyat       10930 non-null  int64
 1   Marka       10930 non-null  object
 2   Seri        10930 non-null  object
 3   Model       10930 non-null  object
 4   Yıl         10930 non-null  object
 5   Kilometre   10930 non-null  object
 6   VitesTipi   10930 non-null  object
 7   YakıtTipi   10930 non-null  object
 8   KasaTipi    10930 non-null  object
 9   MotorHacmi  10930 non-null  object
 10  MotorGücü   10929 non-null  object
 11  Çekiş       10840 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.1+ MB

In [274]:
df["Yıl"].unique()

array(['2014', '2018', '2016', '2017', '2020', '2013', '2023', '2015',
       '2009', '2019', '2012', '2022', '2021', '2001', '2011', '1998',
       '2008', '1999', '2010', '2007', '2004', '1991', '2000', '2003',
       '1993', '2006', '1996', '1997', '1994', '1995', '2005', '1990',
       '2002', '1992', '1988', '1989', '82.500 km', '1976', '15.000 km',
       '1987', '121.000 km', '66.000 km', '1985', '1974', '77.426 km',
       '77.000 km', '145.000 km', '1973', '1984', '1986', '133.000 km',
       '195.000 km', '183.000 km', '225.000 km', '95.000 km',
       '200.000 km', '135.000 km', '120.000 km', '100.000 km', '1980',
       '1981', '1972', '1983', '1982', '335.000 km', '1960', '6.001 km',
       '192.000 km', '76.555 km', '101.700 km', '112.000 km',
       '251.000 km', '360.000 km'], dtype=object)

In [275]:
#Yıl sütunu içi aykırı değerlerin ayıklanması ve veri tipi dönüşümü
df["Yıl"].unique()
unwanted_strings = ['82.500 km', '15.000 km', '121.000 km', '66.000 km', '77.426 km', '77.000 km', '145.000 km', '133.000 km','195.000 km','183.000 km','225.000 km', '95.000 km','200.000 km', '135.000 km', '120.000 km', '100.000 km','335.000 km','6.001 km','192.000 km', '76.555 km', '101.700 km', '112.000 km','251.000 km', '360.000 km']
df.loc[df["Yıl"].isin(unwanted_strings), "Yıl"] = None
df["Yıl"] = pd.to_numeric(df["Yıl"], errors='coerce').astype('Int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10930 entries, 0 to 10932
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fiyat       10930 non-null  int64
 1   Marka       10930 non-null  object
 2   Seri        10930 non-null  object
 3   Model       10930 non-null  object
 4   Yıl         10905 non-null  Int64
 5   Kilometre   10930 non-null  object
 6   VitesTipi   10930 non-null  object
 7   YakıtTipi   10930 non-null  object
 8   KasaTipi    10930 non-null  object
 9   MotorHacmi  10930 non-null  object
 10  MotorGücü   10929 non-null  object
 11  Çekiş       10840 non-null  object
dtypes: Int64(1), int64(1), object(10)
memory usage: 1.1+ MB

C:\Windows\Temp\ipykernel_4616\2889739904.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Yıl"] = pd.to_numeric(df["Yıl"], errors='coerce').astype('Int64')

In [276]:
array = df["Kilometre"].values

def convert_to_int(value):
    try:
        return int(value.replace(" km", "").replace(".", "").strip())
    except:
        return None

converted_array = [convert_to_int(item) for item in array]
df["Kilometre"] = converted_array
df["Kilometre"].unique()

C:\Windows\Temp\ipykernel_4616\3577349755.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Kilometre"] = converted_array

array([117000., 144000., 110000., ..., 547000.,  13850.,  86996.])

In [277]:
df["VitesTipi"].unique()

array(['Düz', 'Yarı Otomatik', 'Otomatik', 'LPG & Benzin', 'Benzin',
       'Dizel'], dtype=object)

In [278]:
for index, row in df.iterrows():
    if row["VitesTipi"] in ['Benzin', 'Dizel', 'LPG & Benzin']:
        df.loc[index, "VitesTipi"] = None

In [279]:
print(df.info())
df["YakıtTipi"].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10930 entries, 0 to 10932
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fiyat       10930 non-null  int64
 1   Marka       10930 non-null  object
 2   Seri        10930 non-null  object
 3   Model       10930 non-null  object
 4   Yıl         10905 non-null  Int64
 5   Kilometre   10905 non-null  float64
 6   VitesTipi   10905 non-null  object
 7   YakıtTipi   10930 non-null  object
 8   KasaTipi    10930 non-null  object
 9   MotorHacmi  10930 non-null  object
 10  MotorGücü   10929 non-null  object
 11  Çekiş       10840 non-null  object
dtypes: Int64(1), float64(1), int64(1), object(9)
memory usage: 1.3+ MB
None

array(['LPG & Benzin', 'Benzin', 'Dizel', 'Elektrik', 'Sedan', 'Hibrit',
       'Hatchback/5', 'Coupe'], dtype=object)

In [280]:
conditions = (df['YakıtTipi'] == 'Hatchback/5') | (df['YakıtTipi'] == 'Sedan') | (df['YakıtTipi'] == 'Coupe')
df['YakıtTipi'] = np.where(conditions, None, df['YakıtTipi'])
df.info()
df["KasaTipi"].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10930 entries, 0 to 10932
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fiyat       10930 non-null  int64
 1   Marka       10930 non-null  object
 2   Seri        10930 non-null  object
 3   Model       10930 non-null  object
 4   Yıl         10905 non-null  Int64
 5   Kilometre   10905 non-null  float64
 6   VitesTipi   10905 non-null  object
 7   YakıtTipi   10905 non-null  object
 8   KasaTipi    10930 non-null  object
 9   MotorHacmi  10930 non-null  object
 10  MotorGücü   10929 non-null  object
 11  Çekiş       10840 non-null  object
dtypes: Int64(1), float64(1), int64(1), object(9)
memory usage: 1.3+ MB

C:\Windows\Temp\ipykernel_4616\990153661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YakıtTipi'] = np.where(conditions, None, df['YakıtTipi'])

array(['Sedan', 'Hatchback/5', 'MPV', 'Hatchback/3', 'Station wagon',
       'Cabrio', '1239 cc', 'Belirtilmemiş', 'Coupe', '-', 'Roadster',
       'Pick-up', 'SUV', '3605 cc', '2706 cc', '3001 - 3500 cm3',
       'Tamamı orjinal'], dtype=object)

In [281]:
conditions = (
    (df['KasaTipi'] == '1239 cc') |
    (df['KasaTipi'] == '-') |
    (df['KasaTipi'] == 'Belirtilmemiş') |
    (df['KasaTipi'] == '3605 cc') |
    (df['KasaTipi'] == '2706 cc') |
    (df['KasaTipi'] == '3001 - 3500 cm3') |
    (df['KasaTipi'] == 'Tamamı orjinal')
)
df['KasaTipi'] = np.where(conditions, None, df['KasaTipi'])

C:\Windows\Temp\ipykernel_4616\257485469.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['KasaTipi'] = np.where(conditions, None, df['KasaTipi'])

In [282]:
df["MotorHacmi"].unique()

array(['1368 cc', '1248 cc', '1242 cc', '1598 cc', '1581 cc',
       '1401 - 1600 cm3', '1596 cc', 'Belirtilmemiş', '-', '1580 cc',
       '1372 cc', '1995 cc', '3 değişen, 5 boyalı', '999 cc',
       '1201 - 1400 cm3', '1 değişen', "1200 cm3' e kadar", '1400 cc',
       'Tamamı orjinal', 'Önden Çekiş', '76 - 100 HP', '1601 - 1800 cm3',
       '3 boyalı', '1600 cc', 'Arkadan İtiş', '65 hp', '1239 cc',
       '1297 cc', '2 değişen, 3 boyalı', '2 değişen', '101 - 125 HP',
       'Sahibinden', '2 değişen, 2 boyalı', '5 değişen', '1461 cc',
       '1397 cc', '998 cc', '1390 cc', '898 cc', '1565 cc', '1333 cc',
       '1332 cc', '110 cc', '1149 cc', '1197 cc', '1 değişen, 1 boyalı',
       '1948 cc', '1998 cc', '1870 cc', '1198 cc', '1300 cc', '1499 cc',
       '2996 cc', '1496 cc', '1597 cc', '1592 cc', '2926 cc', '1796 cc',
       '2993 cc', '1595 cc', '1991 cc', '1801 - 2000 cm3', '1766 cc',
       '3982 cc', '2171 cc', '1997 cc', '4398 cc', '2001 - 2500 cm3',
       '1895 cc', '2979 cc', '2494 cc', '170 cc', '2501 - 3000 cm3',
       '2497 cc', '1951 cc', '3600 cc', '2998 cc', '1364 cc', '1329 cc',
       '1798 cc', '1587 cc', '1298 cc', '1490 cc', '1 değişen, 12 boyalı',
       '1295 cc', '1398 cc', '1296 cc', '1365 cc', '1800 cc', '133 cc',
       '1299 cc', '2231 cc', '1388 cc', '1498 cc', '1560 cc', '1500 cc',
       '1753 cc', '1399 cc', '1497 cc', '2 değişen, 8 boyalı', '1999 cc',
       '4601 cc', '1988 cc', '1993 cc', '1084 cc', '5409 cc', '1283 cc',
       '2 değişen, 5 boyalı', '1 boyalı', '1199 cc', '1389 cc', '1488 cc',
       '1229 cc', '1700 cc', '1956 cc', '1342 cc', '1686 cc', '973 cc',
       '2198 cc', '3501 - 4000 cm3', '1994 cc', '1360 cc', '2946 cc',
       '954 cc', '2230 cc', '1761 cc', '2 değişen, 9 boyalı',
       '3 değişen, 9 boyalı', '4 boyalı', '1905 cc', '1361 cc', '2799 cc',
       '2143 cc', '2685 cc', '1462 cc', '156 cc', '265 cc', '5461 cc',
       '1950 cc', '3222 cc', '3199 cc', '2987 cc', '5980 cc', '2148 cc',
       '2299 cc', '1799 cc', '2000 cc', '2925 cc', '5001 - 5500 cm3',
       '1992 cc', '163 cc', '3498 cc', '2597 cc', '2999 cc',
       '551 - 575 HP', '5513 cc', '2151 cc', '3001 - 3500 cm3', '4520 cc',
       '1590 cc', '1339 cc', '1396 cc', '1493 cc', '9 boyalı', '1318 cc',
       '2204 cc', '1582 cc', '1495 cc', '1599 cc', '1086 cc', '1341 cc',
       '12 boyalı', '1591 cc', '1468 cc', '3778 cc', '2656 cc',
       '7 boyalı', '51 - 75 HP', '1996 cc', '2736 cc', '3518 cc',
       '2429 cc', '1968 cc', '1395 cc', '1422 cc', '1896 cc', '1781 cc',
       '2 boyalı', '1 değişen, 6 boyalı', '1984 cc', '1970 cc', '1715 cc',
       '1370 cc', '2891 cc', '1910 cc', '1859 cc', '1712 cc', '1711 cc',
       '1289 cc', '1527 cc', '2179 cc', '90 cc', '4 değişen, 1 boyalı',
       '1240 cc', '1348 cc', '3799 cc', '1275 cc', '1386 cc', '1974 cc',
       '176 - 200 HP', '1769 cc', 'Takasa Uygun Değil', '2400 cc',
       '1969 cc', '1783 cc', '2401 cc', '1721 cc', '151 - 175 HP',
       '1784 cc', '2922 cc', '1 değişen, 2 boyalı', '1731 cc', '2783 cc',
       '2435 cc', '1 değişen, 5 boyalı', 'Tamamı boyalı', '6 boyalı',
       '1594 cc', '1353 cc', '2903 cc', '1367 cc', '1120 cc', '1685 cc',
       '1324 cc', '1343 cc', '1 değişen, 3 boyalı', '3497 cc', '2088 cc',
       '875 cc', '1150 cc', '5666 cc', '1391 cc', '1206 cc', '796 cc',
       '5 boyalı', '6162 cc', '5733 cc', '995 cc', '3640 cc',
       '4501 - 5000 cm3', '2894 cc', '3800 cc', '2995 cc', '2967 cc',
       '300 hp', '3996 cc', '3824 cc', '2981 cc', '3436 cc', '275 hp',
       '301 - 325 HP', '4806 cc', '2990 cc', '1193 cc', '1584 cc',
       '1755 cc', '1834 cc', '5935 cc', '4300 cc', '1328 cc', '1586 cc',
       '993 cc', '1061 cc', '996 cc', '1839 cc', '1288 cc', '1294 cc',
       '658 cc', '997 cc', '2457 cc', '1820 cc', '1189 cc', '1840 cc',
       '1489 cc', '1308 cc', '1576 cc', '1349 cc', '2 değişen, 10 boyalı',
       '1985 cc', '1589 cc', '989 cc', '1588 cc', '605 cc', '2698 cc',
       '2671 cc', '4134 cc', '2496 cc', '4163 cc', '2393 cc',
       '4WD (Sürekli)', '4172 cc', '3993 cc'], dtype=object)

In [283]:
unwanted_strings = ['1401 - 1600 cm3', 'Belirtilmemiş', '-','3 değişen, 5 boyalı','1201 - 1400 cm3', '1 değişen', "1200 cm3' e kadar",'Tamamı orjinal', 'Önden Çekiş', '76 - 100 HP', '1601 - 1800 cm3','3 boyalı','Arkadan İtiş', '65 hp','Arkadan İtiş', '65 hp','2 değişen, 3 boyalı', '2 değişen', '101 - 125 HP','Sahibinden', '2 değişen, 2 boyalı', '5 değişen','1 değişen, 1 boyalı','1801 - 2000 cm3','2001 - 2500 cm3','2501 - 3000 cm3','1 değişen, 12 boyalı','2 değişen, 8 boyalı','2 değişen, 5 boyalı', '1 boyalı', '3501 - 4000 cm3','2 değişen, 9 boyalı','3 değişen, 9 boyalı', '4 boyalı','5001 - 5500 cm3','551 - 575 HP','3001 - 3500 cm3','9 boyalı','12 boyalı','7 boyalı', '51 - 75 HP','2 boyalı', '1 değişen, 6 boyalı','4 değişen, 1 boyalı','176 - 200 HP','Takasa Uygun Değil','151 - 175 HP','1 değişen, 2 boyalı','1 değişen, 5 boyalı', 'Tamamı boyalı','6 boyalı','1 değişen, 3 boyalı','5 boyalı','4501 - 5000 cm3','300 hp','275 hp','301 - 325 HP','2 değişen, 10 boyalı','4WD (Sürekli)',]
df.loc[df["MotorHacmi"].isin(unwanted_strings), "MotorHacmi"] = None
array = df["MotorHacmi"].values
def convert_to_int(value):
    try:
        return int(value.split(' ')[0])
    except:
        return None

converted_array = [convert_to_int(item) for item in array]
df["MotorHacmi"]=converted_array
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10930 entries, 0 to 10932
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fiyat       10930 non-null  int64
 1   Marka       10930 non-null  object
 2   Seri        10930 non-null  object
 3   Model       10930 non-null  object
 4   Yıl         10905 non-null  Int64
 5   Kilometre   10905 non-null  float64
 6   VitesTipi   10905 non-null  object
 7   YakıtTipi   10905 non-null  object
 8   KasaTipi    10871 non-null  object
 9   MotorHacmi  10437 non-null  float64
 10  MotorGücü   10929 non-null  object
 11  Çekiş       10840 non-null  object
dtypes: Int64(1), float64(2), int64(1), object(8)
memory usage: 1.3+ MB

C:\Windows\Temp\ipykernel_4616\74688763.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["MotorHacmi"]=converted_array

In [284]:
df["MotorGücü"].unique()

array(['77 hp', '95 hp', '69 hp', '105 hp', '120 hp', '100 hp',
       '76 - 100 HP', '90 hp', '70 hp', '74 hp', '103 hp', 'Sahibinden',
       '-', '101 hp', '101 - 125 HP', '75 hp', '71 hp', '113 hp', '80 hp',
       '81 hp', '51 - 75 HP', '60 hp', '78 hp', 'Takasa Uygun',
       'Tamamı orjinal', '85 hp', '110 hp', '118 hp', 'Önden Çekiş',
       '130 hp', '83 hp', '126 - 150 HP', 'Belirtilmemiş', 'Arkadan İtiş',
       '151 - 175 HP', '96 hp', '601 HP ve üzeri', '65 hp',
       'Takasa Uygun Değil', "50 HP'ye kadar", nan, '2 boyalı', '107 hp',
       '72 hp', '115 hp', '98 hp', '140 hp', '1600 hp', '106 hp', '86 hp',
       '139 hp', '165 hp', '67 hp', '58 hp', '55 hp', '68 hp', '54 hp',
       '170 hp', '190 hp', '136 hp', '218 hp', '116 hp', '143 hp',
       '258 hp', '193 hp', '177 hp', '184 hp', '252 hp', '102 hp',
       '122 hp', '313 hp', '150 hp', '176 - 200 HP', '245 hp', '163 hp',
       '286 hp', '231 hp', '306 hp', '381 hp', '544 hp', '333 hp',
       '265 hp', '156 hp', '201 - 225 HP', '99 hp', '192 hp', '320 hp',
       '272 hp', '340 hp', '87 hp', '132 hp', '125 hp', '126 hp', '88 hp',
       '97 hp', '112 hp', '124 hp', '147 hp', '114 hp', '111 hp',
       '160 hp', '123 hp', '82 hp', '180 hp', '145 hp', '500 hp',
       '210 hp', '220 hp', '276 - 300 HP', '175 hp', '93 hp', '117 hp',
       '76 hp', '91 hp', '109 hp', '138 hp', '51 hp', '158 hp', '166 hp',
       '137 hp', '1 değişen, 2 boyalı', '73 hp', '134 hp', '225 hp',
       '211 hp', '152 hp', '89 hp', '182 hp', '46 hp', '149 hp', '178 hp',
       '204 hp', '186 hp', '3000 hp', '585 hp', '194 hp', '224 hp',
       '612 hp', '292 hp', '330 hp', '376 - 400 HP', '94 hp', '13300 hp',
       '226 - 250 HP', '501 - 525 HP', '435 hp', '843 hp', '299 hp',
       '451 - 475 HP', '129 hp', '658 hp', '510 hp', '251 - 275 HP',
       '235 hp', '503 hp', '121 hp', '240 hp', '200 hp', '92 hp', '84 hp',
       '128 hp', '131 hp', '66 hp', '108 hp', '135 hp', '127 hp', '63 hp',
       '6 boyalı', '290 hp', '173 hp', '141 hp', '203 hp', '155 hp',
       '57 hp', '64 hp', '62 hp', '1200 hp', '485 hp', '79 hp', '185 hp',
       '181 hp', '215 hp', '250 hp', '1 boyalı', '205 hp', '144 hp',
       '244 hp', '133 hp', '344 hp', '1 değişen, 12 boyalı', '52 hp',
       '436 hp', '275 hp', '426 - 450 HP', '324 hp', '335 hp',
       '301 - 325 HP', '400 hp', '300 hp', '580 hp', '326 - 350 HP',
       '761 hp', '355 hp', '385 hp', '571 hp', '450 hp', '680 hp',
       '345 hp', '560 hp', '551 - 575 HP', '530 hp', '430 hp',
       '401 - 425 HP', '53 hp', '45 hp', '41 hp', '44 hp', '280 hp',
       '56 hp', '4000 hp', '350 hp', '310 hp', '576 - 600 HP', '142 hp',
       '285 hp', '233 hp', '262 hp', '230 hp', '520 hp'], dtype=object)

In [285]:
#df[10]
replacement_values = {
    '576 - 600 HP':'588 hp',
    '401 - 425 HP':'413 hp',
    '551 - 575 HP':'563 hp',
    '326 - 350 HP':'338 hp',
    '251 - 275 HP':'263 hp',
    '451 - 475 HP':'463 hp',
    '501 - 525 HP': '513 hp',
    '226 - 250 HP': '238 hp ',
    '376 - 400 HP': '388 hp',
    '276 - 300 HP': '288 hp',
    '201 - 225 HP': '213 hp',
    '51 - 75 HP': '63 hp',
    '151 - 175 HP': '163 hp',
    '101 - 125 HP': '113 hp',
    '176 - 200 HP': '188 hp',
    '76 - 100 HP': '88 hp',
    '426 - 450 HP': '435 hp',
    '126 - 150 HP': '138 hp',
    '601 HP ve üzeri': '610 hp',
    '301 - 325 HP': '313 hp',
    '476 - 500 HP': '488 hp',
    "50 HP'ye kadar": '50'
}

df["MotorGücü"] = df["MotorGücü"].replace(replacement_values)
unwanted_strings = ['Sahibinden', '-', 'Takasa Uygun','Tamamı orjinal','Önden Çekiş','Belirtilmemiş', 'Arkadan İtiş','Takasa Uygun Değil','2 boyalı','1 değişen, 2 boyalı','6 boyalı','1 boyalı','1 değişen, 12 boyalı',]
df.loc[df["MotorGücü"].isin(unwanted_strings), "MotorGücü"] = None
array = df["MotorGücü"].values

def convert_to_int(value):
    try:
        return int(value.split(' ')[0])
    except:
        return None

converted_array = [convert_to_int(item) for item in array]
df["MotorGücü"]=converted_array

C:\Windows\Temp\ipykernel_4616\373381292.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["MotorGücü"] = df["MotorGücü"].replace(replacement_values)
C:\Windows\Temp\ipykernel_4616\373381292.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["MotorGücü"]=converted_array

In [286]:
df["Çekiş"].unique()

array(['Önden Çekiş', nan, '-', 'Sahibinden', 'Tamamı orjinal',
       'Arkadan İtiş', '52 lt', 'Takasa Uygun Değil', '44 lt',
       '2 değişen, 11 boyalı', '1 değişen, 12 boyalı', '4WD (Sürekli)',
       '4,9 lt', '4,8 lt', '75 lt', 'Takasa Uygun', 'AWD (Elektronik)',
       'Belirtilmemiş', '51 lt', '1 değişen, 2 boyalı', '6,8 lt',
       '4,7 lt', '2 boyalı', '2 değişen, 8 boyalı', '11,3 lt', '7,7 lt',
       'Tamamı boyalı', '32 lt', '5,8 lt'], dtype=object)

In [287]:
#df[11]
unwanted_strings = ['-','Sahibinden','Tamamı orjinal','52 lt', 'Takasa Uygun Değil', '44 lt','2 değişen, 11 boyalı', '1 değişen, 12 boyalı','4,9 lt', '4,8 lt', '75 lt', 'Takasa Uygun','Belirtilmemiş', '51 lt', '1 değişen, 2 boyalı', '6,8 lt','4,7 lt', '2 boyalı', '2 değişen, 8 boyalı', '11,3 lt', '7,7 lt','Tamamı boyalı', '32 lt', '5,8 lt']
df.loc[df["Çekiş"].isin(unwanted_strings), "Çekiş"] = None
df["Çekiş"].unique()

array(['Önden Çekiş', nan, None, 'Arkadan İtiş', '4WD (Sürekli)',
       'AWD (Elektronik)'], dtype=object)

In [288]:
df['Çekiş'] = df['Çekiş'].apply(lambda x: None if pd.isna(x) else x)
df.info()
df["Çekiş"].unique()

C:\Windows\Temp\ipykernel_4616\1562776421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Çekiş'] = df['Çekiş'].apply(lambda x: None if pd.isna(x) else x)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10930 entries, 0 to 10932
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fiyat       10930 non-null  int64
 1   Marka       10930 non-null  object
 2   Seri        10930 non-null  object
 3   Model       10930 non-null  object
 4   Yıl         10905 non-null  Int64
 5   Kilometre   10905 non-null  float64
 6   VitesTipi   10905 non-null  object
 7   YakıtTipi   10905 non-null  object
 8   KasaTipi    10871 non-null  object
 9   MotorHacmi  10437 non-null  float64
 10  MotorGücü   10597 non-null  float64
 11  Çekiş       10590 non-null  object
dtypes: Int64(1), float64(3), int64(1), object(7)
memory usage: 1.3+ MB

array(['Önden Çekiş', None, 'Arkadan İtiş', '4WD (Sürekli)',
       'AWD (Elektronik)'], dtype=object)

In [289]:
a=df[df["Yıl"].isnull() & df["Yıl"].isnull()& df["Kilometre"].isnull() & df["VitesTipi"].isnull() & df["YakıtTipi"].isnull() & df["KasaTipi"].isnull() & df["MotorHacmi"].isnull() & df["MotorGücü"].isnull() & df["Çekiş"].isnull()]
df=df.drop(a.index)
print(df.isnull().sum())

Fiyat           0
Marka           0
Seri            0
Model           0
Yıl             0
Kilometre       0
VitesTipi       0
YakıtTipi       0
KasaTipi       34
MotorHacmi    468
MotorGücü     308
Çekiş         315
dtype: int64

In [290]:
df = df[df["KasaTipi"].notnull()]
df["MotorHacmi"].fillna(df["MotorHacmi"].median(), inplace= True)
df["MotorGücü"].fillna(df["MotorGücü"].median(), inplace= True)
df["Çekiş"].fillna(df["Çekiş"].mode()[0], inplace=True)
print(df.isnull().sum())

Fiyat         0
Marka         0
Seri          0
Model         0
Yıl           0
Kilometre     0
VitesTipi     0
YakıtTipi     0
KasaTipi      0
MotorHacmi    0
MotorGücü     0
Çekiş         0
dtype: int64

In [292]:
#LabelEncoder
label_encoder = LabelEncoder()
for col in df.select_dtypes(include='object'):
    df[col] = label_encoder.fit_transform(df[col])
print(df)

x=df.drop("Fiyat", axis=1)
y=df["Fiyat"].values

         Fiyat  Marka  Seri  Model   Yıl  Kilometre  VitesTipi  YakıtTipi  \
0       546000     11   210    428  2014   117000.0          0          4
1       685000     11   154    430  2018   144000.0          0          0
2       635000     11   154    429  2016   110000.0          0          4
3       555000     11   154    282  2017    87000.0          0          1
4       710000     11   154    430  2020    30800.0          0          0
...        ...    ...   ...    ...   ...        ...        ...        ...
10928   370000      2    74   1738  1997   286000.0          0          4
10929   449900      2    74   1740  2005   547000.0          1          1
10930  1250000      2    73   1694  2017    13850.0          2          1
10931  1759000      2    74   1733  2017    86996.0          2          0
10932  1580000      2    76   1771  2013   260000.0          1          1

       KasaTipi  MotorHacmi  MotorGücü  Çekiş
0             8      1368.0       77.0      3
1             3      1368.0       95.0      3
2             8      1368.0       95.0      3
3             8      1248.0       95.0      3
4             8      1368.0       95.0      3
...         ...         ...        ...    ...
10928         8      1781.0      150.0      0
10929         8      1896.0      130.0      3
10930         8      1598.0      116.0      3
10931         8      1395.0      150.0      3
10932         8      1968.0      177.0      3

[10871 rows x 12 columns]

In [293]:
#Normalization
scaller=MinMaxScaler()
x= scaller.fit_transform(x)
y = y.reshape(-1, 1)
y = scaller.fit_transform(y).flatten()
x=np.delete(x, 2, axis=0)
y=np.delete(y, 2)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state=42)
print("x_train:", x_train.shape)
print("y_train:", y_train.shape)
print("x_test:", x_test.shape)
print("y_test:", y_test.shape)

x_train: (9783, 11)
y_train: (9783,)
x_test: (1087, 11)
y_test: (1087,)

In [300]:
model= RandomForestRegressor(n_estimators=100, criterion='absolute_error', random_state=0)
# Modeli eğitme
model.fit(x_train, y_train)
# Test verileri üzerinde tahmin yapma
y_pred = model.predict(x_test)
# Test hatasını hesaplama
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error on Test Data:", mae)

Mean Absolute Error on Test Data: 0.00400378910439836

In [307]:

a=np.array([0.91891892, 1.        , 0.40329218, 0.52380952, 0.00954   ,
       0.        , 1.        , 0.88888889, 0.24555336, 0.00482691,
       1.        ])
a_reshaped = a.reshape(1, -1)
print(model.predict(a_reshaped))

[0.00292571]

In [308]:
model_filename = 'car_price_model.joblib'
joblib.dump(model, model_filename)

['car_price_model.joblib']